.theme-switch-wrapper {
  display: inline-block;
  margin-bottom: 20px;
}

.theme-switch {
  height: px2rem(40px);
  position: relative;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--core-color-clickme-grey);
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  transition: 400ms;
  width: px2rem(60px);
  height: px2rem(30px);
}

.slider:before {
  bottom: 8px;
  box-shadow: -10px 2px 0 0 currentColor;
  content: "";
  height: 26px;
  left: 16px;
  position: absolute;
  transition: 400ms;
  width: px2rem(26px);
}

input:checked + .slider {
  background-color: var(--core-color-clickme-grey);
}

input:checked + .slider:before {
  transform: translateX(26px);
  box-shadow: 10px 2px 0 0 currentColor;
  left: 0;
}

.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 50%;
}
