:root {
  // Fonts
  --font-oswald: "Oswald", sans-serif;

  // Manticore Colors
  //--core-color-black: hsl(222, 14%, 15%); // #20232A;
  --core-color-black: hsl(222, 20%, 13%); // #1A1E27;
  --core-color-black--light: hsla(222, 20%, 13%, 0.8);
  --core-color-black--lighter: hsla(222, 20%, 13%, 0.5);
  --core-color-sec-nav: #2B2D34;
  --core-color-purple: #6536D1;
  --core-color-green: #5FCC29;
  --core-color-dungeon-grey: #11141A;
  --core-color-basement-grey: #1A1E26;
  --core-color-foyer-grey: #2C3038;
  --core-color-foyer-grey-dark: #292C33;
  --core-color-clickme-grey-dark: #1C2029;
  --core-color-clickme-grey: #384254;
  --core-color-clickme-highlight: #7182A8;

  --core-color-orange: #FF9900;
  --core-color-orange--light: hsla(36, 100%, 50%, 0.54);
  --core-color-orange--lighter: hsla(36, 100%, 50%, 0.38);
  --core-color-orange--lightest: hsla(36, 100%, 50%, 0.12);
  --core-color-orange--transparent: hsla(0, 0%, 100%, 0);

  --core-color-blue: #17A1E6;

  --core-color-locked: #646770;
  --core-color-templetized: #17A1E6;
  --core-color-deinstanced: #17E6D5;
  --core-color-published: #45C434;
  --core-color-update-pending: #FF9900;
  --core-color-error-state: #C43434;

  // Primary and accent colors
  --color-accent: var(--core-color-orange);
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

// External Links
.external::after {
  content:url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" class="svg-inline--fa fa-external-link-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="grey" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path></svg>');
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 4px;
}

// Netlify Form
.netlify {
  background: var(--md-code-bg-color);
  padding: 0px 16px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
  border: 1px solid var(--md-code-bg-color);
  border-radius: 4px;
  color: var(--md-code-fg-color);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  a {
    color: #000000 !important;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
  }

  form p {
    text-align: center;
  }

  button {
    background-color: var(--core-color-blue);
    border-radius: 4px;
    cursor: pointer;
    color: #000000;
    font-size: 20px;
    font-family: var(--font-oswald);
    line-height: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    user-select: none;
  }

  button:hover {
    background-color: #0081C2;
  }

  input,
  textarea {
    outline: none;
    width: 100%;
    padding: 8px 16px;
    font-size: 18px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
    background-color: var(--color-background--light);
    color: var(--md-code-fg-color) !important;
  }

  textarea {
    height: 140px;
    margin-top: 5px;
  }

  input {
    height: 40px;
    margin-top: 5px;
    border: 1px solid rgb(169, 169, 169);
  }

  label {
    margin-bottom: 15px;
    display:block;
  }

  textarea:focus,
  input:focus {
    border-color: var(--color-background--light) !important;
    background: var(--color-background);
    color: #FFFFFF;
  }

  // Icon
  svg {
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: middle;
    fill: var(--md-code-fg-color);
  }
}

// Generic .center
.center {
  display: block;
  margin: 15px auto;
}

// Images
.md-typeset img {
  max-width: 50%;
}

.md-typeset a img:hover {
  border: 2px solid var(--core-color-orange);
  transition: all 300ms ease-in-out;
}

.md-typeset .hero-image img {
  max-width: 100%;
}

// Image Cluster
.image-cluster {
  text-align: center;
  margin-bottom: 15px !important;

  img {
    width: 40%;
    margin: 15px auto;
  }

  em {
    font-style: italic;
    display: block;
  }
}

.lightgallery-cluster-member {
  width: 40%;
  margin: 15px 0 auto;
}

.hero-image img {
  width: 80%;
}

// Figure Blocks
.figure-block {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

figure {
  display: inline-block;

  img, video {
    height: 210px;
  }
}

.md-typeset figure img,
.md-typeset figure video {
  max-width: 100%;
}

// Image Inline Text
.image-inline-text img {
  vertical-align: middle;
  margin-right: 5px;
}

.image-frame,
.image-background img {
  background-color: var(--core-color-black);
  border: 2px solid var(--core-color-orange--lighter);
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// Good / Bad / Exception Coloring
.md-typeset {
  .style-good {
    color: #008000;
    font-weight: 700;
    margin-bottom: 0;

    + .codehilitetable {
      margin-top: 0;
      background-color: #ECFFE5;
    }
  }

  .style-bad {
    color: #FF0000;
    font-weight: 700;
    margin-bottom: 0;

    + .codehilitetable {
      margin-top: 0;
      background-color: #FFECEC;
    }
  }

  .style-exception {
    color: #FFA500;
    font-weight: 700;
    margin-bottom: 0;

    + .codehilitetable {
      margin-top: 0;
      background-color: #FFFAF1;
    }
  }
}

// Scroll to top button
#to-top-button {
  display: inline-block;
  background-color: var(--core-color-orange);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 300ms,
    opacity 500ms, visibility 500ms;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#to-top-button::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="white" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/></svg>');
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
}

#to-top-button:hover {
  cursor: pointer;
  background-color: #333333;
}

#to-top-button:active {
  background-color: #555555;
}

#to-top-button.show {
  opacity: 1;
  visibility: visible;
}

.md-header-social {
  display: table-cell;
  position: relative;
  margin-right: 20px;

  ul {
    margin: 0;
  }
}

// [tablet -]: Trigger overlay
@include break-to-device(tablet) {
  .fab:not(#dark-mode-toggle) {
    display: none;
  }
}

// Dark Mode table
[data-theme="dark"] table:not([class]) {
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.14), 0 1px 5px 0 rgba(255,255,255,.12), 0 3px 1px -2px rgba(255,255,255,.2);
}

[data-theme="dark"] h3 code {
  color: #FFFFFF;
}

// Lua Color Enums
// stylelint-disable selector-class-pattern
.Color_WHITE { color: #FFFFFFFF; }
.Color_GRAY { color: #7F7F7FFF; }
.Color_BLACK { color: #000000FF; }
.Color_TRANSPARENT { color: #FFFFFF00; }
.Color_RED { color: #FF0000FF; }
.Color_GREEN { color: #00FF00FF; }
.Color_BLUE { color: #0000FFFF; }
.Color_CYAN { color: #00FFFFFF; }
.Color_MAGENTA { color: #FF00FFFF; }
.Color_YELLOW { color: #FFFF00FF; }
.Color_ORANGE { color: #CC4C00FF; }
.Color_PURPLE { color: #4C0099FF; }
.Color_BROWN { color: #721400FF; }
.Color_PINK { color: #FF6666FF; }
.Color_TAN { color: #E5BF4CFF; }
.Color_RUBY { color: #660101FF; }
.Color_EMERALD { color: #0C660CFF; }
.Color_SAPPHIRE { color: #02024CFF; }
.Color_SILVER { color: #B2B2B2FF; }
.Color_SMOKE { color: #191919FF; }

// Tag
.md-tag {
  display: inline-block;
  margin: px2rem(9px) 0;
  padding-right: px2rem(10px);
  border-radius: px2rem(4px);
  background-color: var(--core-color-black);
  filter: brightness(105%);
  font-size: ms(-1);
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
  color: $md-color-white !important;

  // Icon
  svg {
    display: inline-block;
    margin-right: px2rem(5px);
    padding: px2rem(2px) px2rem(8px);
    width: 38px;
    height: 38px;
    background-color: var(--core-color-black);
    filter: brightness(115%);
    vertical-align: middle;
    fill: $md-color-white--light;
  }

  // Hovered tag
  &:hover {
    @include z-depth-focus;

    // Icon
    svg {
      fill: var(--color-accent);
      background-color: var(--core-color-black);
      filter: brightness(105%);
    }
  }
}

// Focus / Selected Typeset Fix
.md-typeset details > summary:focus {
  outline-style: none;
}

// Google Translate Dropdown
#google_translate_element {
  margin-left: 15px;
}

// Download Button
.download-button {
  background: var(--core-color-orange);
  border-radius: 5px;
  color: #FFFFFF;
  font-family: var(--font-oswald);
  font-size: 18px;
  font-weight: 400;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-right: 5px;
}

.download-button svg {
  height: 22px;
  margin-right: 2px;
  vertical-align: text-bottom;
}

.core {
  background: var(--core-color-orange);
}

.core:hover {
  background: #EE8F00;
  text-decoration: none;
}

.core:active {
  background: #DD8500;
  text-decoration: none;
}

.twitch {
  background: #9147FF;
}

.twitch:hover {
  background: #8736FF;
}

.twitch:active {
  background: #7D25FF;
}

.discord {
  background: #7289DA;
}

.discord:hover {
  background: #657ED6;
}

.discord:active {
  background-color: #5772D3;
}

@media only screen and (max-width: 959px) {
  .download-button {
    display: none;
  }
}

@media screen and (min-width: 960px) and (max-width: 1219px) {
 .download-button {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1220px) and (max-width: 1599px) {
 .download-button {
    margin-top: 2px;
  }
}

@media screen and (min-width: 1600px) {
 .download-button {
    margin-top: 2px;
  }
}

// Google Translate Box
.goog-te-gadget .goog-te-combo {
  border-radius: 5px;
  font-family: Roboto, sans-serif;
}
