// Manticore Additions

// CSS Variables
:root {
  // Fonts
  --font-oswald: "Oswald", sans-serif;

  // Manticore Colors
  --manti-color-black: #20232A;

  --manti-color-orange: #FF9000;
  --manti-color-orange--light: hsla(34, 100%, 50%, 0.54);
  --manti-color-orange--lighter: hsla(34, 100%, 50%, 0.38);
  --manti-color-orange--lightest: hsla(34, 100%, 50%, 0.12);
  --manti-color-orange--transparent: hsla(0, 0%, 100%, 0);

  --manti-color-blue: #53B6FB;

  --core-color-locked: #85888D;
  --core-color-templetized: #53B6FB;
  --core-color-deinstanced: #5DDFFB;
  --core-color-published: #64EB45;
  --core-color-update-pending: #FF7100;
  --core-color-error-state: #FB3F3F;

  // Material Design Colors
  --color-md--dark: #121212;
  --color-md--light: #212121;
  --color-md--lighter: #303030;
  --color-md--lightest: #424242;

  // Primary and accent colors
  --color-accent: var(--manti-color-orange);

  // Actually white, sorry :/
  --color-black: hsla(0, 0%, 100%, 1);
  --color-black--light: hsla(0, 0%, 100%, 0.54);
  --color-black--lighter: hsla(0, 0%, 100%, 0.38);
  --color-black--lightest: hsla(0, 0%, 100%, 0.12);
  --color-black--transparent: hsla(0, 0%, 100%, 0);

  // White
  --color-background: hsla(0, 0%, 100%, 1);
  --color-background--light: hsla(0, 0%, 100%, 0.54);
  --color-background--lighter: hsla(0, 0%, 100%, 0.26);
  --color-background--lightest: hsla(0, 0%, 100%, 0.07);
  --color-background--transparent: hsla(0, 0%, 100%, 0);

  // #121212
  --color-white: hsla(0, 0%, 7%, 1);
  --color-white--light: hsla(0, 0%, 7%, 0.54);
  --color-white--lighter: hsla(0, 0%, 7%, 0.26);
  --color-white--lightest: hsla(0, 0%, 7%, 0.07);
  --color-white--transparent: hsla(0, 0%, 7%, 0);

  // Manticore Black
  --color-text: hsla(222, 14%, 15%, 0.87);
  --color-text--light: hsla(222, 14%, 15%, 0.54);
  --color-text--lighter: hsla(222, 14%, 15%, 0.26);
  --color-text--lightest: hsla(222, 14%, 15%, 0.07);
  --color-text--hover: hsla(222, 14%, 15%, 0.035);
  --color-text--transparent: hsla(222, 14%, 15%, 0);

  &.dark-mode {
    // #121212
    --color-background: hsla(0, 0%, 7%, 1);
    --color-background--light: hsla(0, 0%, 7%, 0.54);
    --color-background--lighter: hsla(0, 0%, 7%, 0.26);
    --color-background--lightest: hsla(0, 0%, 7%, 0.07);
    --color-background--transparent: hsla(0, 0%, 7%, 0);

    // Actually black, sorry :/
    --color-white: hsla(0, 0%, 0%, 1);
    --color-white--light: hsla(0, 0%, 0%, 0.54);
    --color-white--lighter: hsla(0, 0%, 0%, 0.38);
    --color-white--lightest: hsla(0, 0%, 0%, 0.12);
    --color-white--transparent: hsla(0, 0%, 0%, 0);

    // White
    --color-text: hsla(0, 0%, 100%, 1);
    --color-text--light: hsla(0, 0%, 100%, 0.7);
    --color-text--lighter: hsla(0, 0%, 100%, 0.38);
    --color-text--lightest: hsla(0, 0%, 100%, 0.12);
    --color-text--hover: hsla(0, 0%, 100%, 0.035);
    --color-text--transparent: hsla(0, 0%, 100%, 0);

    --color-black: hsla(0, 0%, 100%, 1);
    --color-black--light: hsla(0, 0%, 100%, 0.7);
    --color-black--lighter: hsla(0, 0%, 100%, 0.38);
    --color-black--lightest: hsla(0, 0%, 100%, 0.12);
    --color-black--transparent: hsla(0, 0%, 100%, 0);
  }
}

// External Links

.external::after {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  margin-left: 4px;
}

// Netlify Form

.netlify {
  background: var(--color-text);
  padding: 8px 16px;
  border: 1px solid var(--manti-color-orange);
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  color: $md-color-white;
  font-family: var(--font-oswald);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

  form p {
    text-align: center;
  }

  button {
    background-color: var(--manti-color-blue);
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    font-family: var(--font-oswald);
    font-size: 20px;
    line-height: 22px;
    padding: 16px 45px;
    text-shadow: 0 0 2px #000000;
    text-transform: uppercase;
    user-select: none;
    width: 120px;
  }

  button:hover {
    background-color: #0081C2;
  }

  textarea {
    outline: none;
    width: 100%;
    height: 140px;
    padding: 8px 16px;
    font-size: 18px;
    font-family: var(--font-oswald);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-background--light);
    color: var(--color-text--light);
  }

  textarea::placeholder {
    color: var(--color-text--light);
  }

  textarea:focus::placeholder {
    color: var(--color-text);
  }

  textarea:focus,
  input:focus {
    border-color: transparent !important;
    background: var(--color-background);
    color: var(--color-text);
  }
}

.dark-mode .netlify {
  background-color: var(--manti-color-black);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255,.14), 0 1px 5px 0 rgba(255, 255, 255,.12), 0 3px 1px -2px rgba(255, 255, 255,.2);
}

// Generic .center

.center {
  display: block;
  margin: 15px auto;
}

// Images

.md-typeset img {
  max-width: 50%;
  border: 1px solid var(--color-background);
}

.md-typeset a img:hover {
  border: 1px solid var(--manti-color-orange);
  transition: all 0.3s ease-in-out;
}

.md-typeset .hero-image img {
  max-width: 100%;
}

// Image Cluster

.image-cluster {
  text-align: center;
  margin-bottom: 15px !important;

  img {
    width: 40%;
    margin: 15px 0 auto;
  }

  em {
    font-style: italic;
    display: block;
  }
}

.lightgallery-cluster-member {
  width: 40%;
  margin: 15px 0 auto;
}

.hero-image img {
  width: 80%;
}

// Figure Blocks

.figure-block {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

figure {
  display: inline-block;

  img {
    height: 210px;
  }
}

.md-typeset figure img {
  max-width: 100%;
}

// Image Inline Text

.image-inline-text img {
  vertical-align: middle;
  margin-right: 5px;
}

.image-background img {
  background-color: var(--manti-color-black);
  border: 1px solid darken($manticore-orange, 20%);
}

// YouTube Embed

.youtube-video {
  width: 640px;
  height: 360px;
  border: 0px;
}

// Video

.mt-video {
  text-align: center;

  video {
    max-width: 720px;
  }
}

// Good / Bad / Exception Coloring

.md-typeset {
  .style-good {
    color: #008000;
    font-weight: 700;
    margin-bottom: 0;

    + .codehilitetable {
      margin-top: 0;
      background-color: #ECFFE5;
    }
  }

  .style-bad {
    color: #FF0000;
    font-weight: 700;
    margin-bottom: 0;

    + .codehilitetable {
      margin-top: 0;
      background-color: #FFECEC;
    }
  }

  .style-exception {
    color: #FFA500;
    font-weight: 700;
    margin-bottom: 0;

    + .codehilitetable {
      margin-top: 0;
      background-color: #FFFAF1;
    }
  }
}

// Scroll to top button

#to-top-button {
  display: inline-block;
  background-color: var(--manti-color-orange);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#to-top-button::after {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #FFFFFF;
}

#to-top-button:hover {
  cursor: pointer;
  background-color: #333333;
}

#to-top-button:active {
  background-color: #555555;
}

#to-top-button.show {
  opacity: 1;
  visibility: visible;
}
